{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <!--Password Reset Confirm-->
    <form method="post" action="" novalidate>
        <div class="container p-5">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Reset Confirm</legend>
                    {{ form|crispy }}
                <div class = "form-group">
                    <button class = "btn btn-outline-primary" type="submit">Reset Password</button>
                </div>
            </fieldset>
        </div>
    </form>


{% endblock %}